/gg2.gmk
/gg2.gb1
/gg2.exe
/gg2.ini
/background.png
/controls.gg2
/gg2updater.gmk
/gg2updater.gb1
/gg2b
/gmksplit.exe
/gmksplit.jar
/game_errors.log
*.orig
/Maps
/Plugins
/Screenshots
/ServerPluginsDebug
/ServerPluginsCache
/ServerPluginsData